form {
    margin: 4em 1em auto;
    padding: 1em 1em 1em 1em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.input-field {
    height: 2em;
}

.full-width {
    width: 100%;
}

.error {
    color: red;
}