<!--Pagination -->
<ul class="pagination">
  <li class="waves-effect" [ngClass]="{ 'disabled': currentPage==1 }" (click)="onPageClicked(currentPage - 1)"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  <li class="waves-effect" *ngFor="let page of pages" [ngClass]="{ 'active': currentPage==page}" (click)="onPageClicked(page)">
    <a href="#!">{{ page }}</a></li>
  <li class="waves-effect" [ngClass]="{ 'disabled': currentPage==pages[pages.length-1] }" (click)="onPageClicked(currentPage + 1)"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>