<div class="app-content">
  <div class="group">
    <form role="form">
      <!-- Sign in image -->
      <div>
        <img src="../../assets/img/signin.png" width="400" height="130" />
      </div>

      <!-- E-mail field -->
      <md-input-container class="full-width">
        <input mdInput class="input-field" type="email" required>
        <md-placeholder>
          <i class="material-icons app-input-icon">face</i>E-mail
        </md-placeholder>
      </md-input-container><br>

      <!-- Password field -->
      <md-input-container class="full-width">
        <input mdInput class="input-field" type="password" required>
        <md-placeholder>
          <i class="material-icons app-input-icon">lock_open</i>Password
        </md-placeholder>
      </md-input-container><br><br>

      <!-- Submit button -->
      <button md-raised-button class="full-width" color="primary" type="submit" name="action">Sign in</button>
    </form>
  </div>
</div>