<md-list>
  <md-list-item class="article" *ngFor="let article of paginated">
    <md-icon md-list-icon>description</md-icon>
    <h4 md-line>{{ article.title }}</h4>
    <p md-line> {{ article.date | date }} </p>
    <p md-line> {{ article.description }} </p>

    <!-- Read more -->
    <button md-raised-button color="primary">Read more...</button>
  </md-list-item>
  <md-divider></md-divider>
</md-list>

<pagination [articles]="articles" [itemsPerPage]="itemsPerPage" (onPageChanged)="paginateArticles($event)"></pagination>