.header {
    padding: 10px;
}

/* imports */
@import url(https://fonts.googleapis.com/css?family=Lobster);

/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  margin: 0 auto;
  max-width: 100%;
  background-color: #fff;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px;
  margin-bottom: 10px;
}

.row:last-child {
  margin-bottom: 0;
}

[class*="col-"] {
  padding: 10px;
  width: 100%;
}

@media all and ( min-width: 750px ) {
  .col-2-4 {
    width: 50%;
  }
}